body,
html,
#root {
	height: 100%;
}

html {
	font-size: 18px;
}

h1 {
	padding: .77rem 0;
	background-color: #010c3f;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 1.88rem;
	color: #fff;
	cursor: pointer;
}

h1 .highlight {
	color: #6c41ec;
}

.header-div {
	position: absolute;
	left: 0;
	right: 0;
}

.login-div {
	top: 20%;
	left: 28%;
	position: absolute;
	bottom: 50%;
	right: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pill-button {
	cursor: pointer;
	width: 10rem;
	padding: .77rem 0;
	border-radius: 54px;
	border-width: 0px;
	background-color: #010c3f;
	text-align: center;
	font-size: .83rem;
	transition: background-color .25s;
	font-weight: 500;
}

.pill-button a, button.pill-button {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: #fff;
}

.login-pill {
	margin-top: 7rem;
	margin-bottom: 7rem;
}

h2 {
	font-family: 'Poppins', sans-serif;
	font-size: 1.55rem;
}

.playlist-pill {
	margin-top: 2rem;
}

.App {
	height: 100%;
	padding: 0 17% 10% 17%;
	background-image: url('./background_photo_desktop.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
  background-attachment: fixed;
	font-family: 'Work Sans', sans-serif;
	font-weight: 500;
	color: #fff;
}

.App-playlist {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

@media only screen and (max-width: 1020px) {
	.App-playlist {
		align-items: center;
		flex-direction: column;
	}
}
